body {
	background: #ffc3c7 !important;
}

.dropdown-menu .active {background: #dc3545 !important;}
h1,h2,h3,h4,h5,h6,h7 {color: #dc3545 !important;}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

#getnotus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #aaa !important;
	font-size: 0.89em;
}

.collapse-icon-plus, .collapse-icon-minus {
	font-family: 'Courier New', monospace;
	font-weight: 200 !important;
	transition: 120ms ease-in box-shadow;
	background: #ffc3c7;
	box-shadow: inset 0 -2px 2px rgba(0,0,0,0.2), inset 0 2px 2px rgba(0,0,0,0.2);
	padding: 0 10px;
	color: #dc3545;
	display: inline-block;
	width: 38px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	margin-right: 5px;
}

.notes_category_title:hover .collapse-icon-plus, .notes_category_title:hover .collapse-icon-minus {
	box-shadow: inset 0 -2px 2px rgba(0,0,0,0.2), inset 0 4px 6px rgba(0,0,0,0.2);
}

.notes_category_title .collapse-icon-minus {display: none;}
.collapsed .collapse-icon-minus {display: inline-block;}

.notes_category_title .collapse-icon-plus {display: inline-block;}
.collapsed .collapse-icon-plus {display: none;}


    #notes {
        border: 1px solid #EEEEEE;
        box-shadow: 1px 1px 0 #DDDDDD;
        display: block;
        font-family: cursive;
        font-size: 22px;
        line-height: 50px;
        margin: 2% auto;
        padding: 11px 20px 0 85px;
        resize: none;
		min-height: 350px;
        background-image: -moz-linear-gradient(top , transparent, transparent 49px,#E7EFF8 0px), -moz-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%), -moz-radial-gradient(3.9% 46% , circle closest-corner, #CCCCCC, #CCCCCC 43.5%, transparent 0%); 
        background-image: -webkit-linear-gradient(top , transparent, transparent 49px,#E7EFF8 0), -webkit-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%), -webkit-radial-gradient(3.9% 46%, circle closest-corner, #cccccc, #cccccc 43.5%, transparent 0%);
        -webkit-background-size:  100% 50px;
        background-size: 100% 50px;
    }
	
	.notes_category_title {
		text-decoration: none;
		cursor: pointer !important;
	}
	
	.notes_category_title .catbox {
		font-weight: normal !important;
		color: #AA336A !important;
		padding-bottom: 5px;
		border-bottom: 5px solid #FFB6C1 !important;
		font-size: 1.75em;
	}
	
	.notes_category_title .catbox_edit {
		font-size: 1.2em !important;
		margin-bottom: 10px;
		border-bottom: 0 !important;
		
	}
	
	.notes_category a {
		text-decoration: none !important;
		color: #000 !important;
	}
	
	.notes_category a:hover {
		color: #9d3545 !important;
		
	}
	
	.notes_category a:hover .post_nav {
		
	}
	
	
.navbar, .footer {z-index: 10000;}
/*preloader*/
.flex-center { 
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	z-index: 10000;
} 

	.preloader { 
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background: #ffc3c7;
		z-index: 9999;
	} 
 
	.dots .dot { 
		display:inline-block;
		width:30px;
		height:30px;
		border-radius: 100%;
		margin:0 10px;
		background:#dc3545;
		-webkit-animation:dot-dot-dot 1s linear infinite;
		animation:dot-dot-dot 1s linear infinite;
	} 
 
		.dots .dot:nth-child(2) { 
			animation-delay: 100ms;
		}
	 
		.dots .dot:nth-child(3){ 
			animation-delay: 200ms;
		}
 
			@keyframes dot-dot-dot{ 

				20% {
					opacity: 1;
					-webkit-transform: scale3d(1, 1, 1);
					transform: scale3d(1, 1, 1);
				}

				50%,55% {
					opacity: 0.5;
					-webkit-transform: scale3d(1.3, 1.3, 1.3);
					transform: scale3d(1.3, 1.3, 1.3);
				}

				to {
					opacity: 1;
					-webkit-transform: scale3d(1, 1, 1);
					transform: scale3d(1, 1, 1);
				}
			}

*::-webkit-scrollbar-track {
	box-shadow: 0 0 10px #000;
	background-color: #333;
}

*::-webkit-scrollbar {
	width: 12px;
	background-color: #333;
}

*::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #e31e24;
	border-radius: 30px;
}